# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

.settings/

#System Files
.DS_Store
Thumbs.db

# dsh
/env
/data/

# Logs
/logs/*.log
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Optional npm cache directory
.npm

# other
/logs/athena_restart.log
/public/stitch.html
/public/js/index.js
public/legacy/
public/js/jsrsasign-all-min.js
scripts/one_time_fixes/dup_fixes
_backups
scripts/reports

# AppScan
*.irx
*.zip
_backup_docs.json
_old_backup.json
_old_backup_cleaned.json
